.jukeboxcontainer{
  min-width: 230px;
  position: relative;
  min-height: 1px;
  text-align: center;
  justify-content: center;
  height: 100%;
  max-width: 1024px;
}

.jukeboxpanel{
  background-image:url('/woodpaneling.jpg');
  position: absolute;
  top: 26.2%;
  bottom: 49%;
  left: 15.5%;
  right: 18%;
}

.controlpanel{
  border: 3px solid silver;
  border-bottom: 0px;
  min-height: 20%;
  max-height: 20%;
  overflow: hidden;
}

.info-button{
  max-width: 10%;
}

.playlist-nav-btn-back{
  background-color: darkgreen;
  border-radius: 4px;
  height: 60%;
}

.playlist-nav-btn-back + .playlist-nav-btn-back{
  margin-left: 10%;
}

.playlist-nav-btn {
  background-image: linear-gradient(rgb(228, 220, 220), rgb(7, 212, 7), darkgreen);
  border-radius: 4px;
  transform: translateY(-3px);
  width: 100%;
  height: 100%;
}

.playlist-nav-btn:active{
  transform: translateY(0px);
}

.control-buttons{
  width: 100%;
}

.song-nav-btn-back{
  background-image: linear-gradient(rgb(228, 220, 220), rgb(7, 212, 7), darkgreen);
  border-radius: 2px;
  width: 100%;
  height: 100%;
}

.song-nav-btn {
  mix-blend-mode: multiply;
  transform: translateY(-2px);
}

.song-nav-btn:active{
  transform: translateX(0px);
}

.nowplaying-container{
  max-width: 33.33%;
  border-left: 3px solid silver;
  border-right: 3px solid silver;
  background-color: black;
  color: green;
}

.nowplaying{
  min-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.digitboard{
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.digitboard-btn{
  width: 10%;
}

.digit-btn-back{
  background: darkred;
  width: 70%;
  border-radius: 2px;
}

.digit-btn{
  background-image: linear-gradient(yellow,orange, red);
  width: 100%;
  color: transparent;
  border-radius: 2px;
  cursor: pointer;
  transform: translateY(-2px);
}

.digit-btn:active {
  transform: translateY(0px);
}

.queue-buttons{
  width: 20%;
  max-width: 20%;
  height: 100%;
  margin-left: 5%;
}

.queue-btn{
  width: 100%;
  height: 50%;
}

.submit-track-back{
  background-color: darkgreen;
  border-radius: 6px;
  width: 100%;
  height: 50%;
  margin-bottom: 5%;
}

.clear-track-back{
  background-color: darkred;
  border-radius: 6px;
  width: 100%;
  height: 50%;
  margin-top: 5%;
}

.submit-track{
  background-image: linear-gradient(rgb(228, 220, 220), rgb(7, 212, 7), green);
  border-radius: 6px;
  transform: translateY(-2px);
  width: 100%;
  height: 100%;
}

.clear-track{
  background-image: linear-gradient(rgb(228, 220, 220), rgb(201, 93, 20), RED);
  border-radius: 6px;
  transform: translateY(-2px);
  width: 100%;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
}

.clear-track:active{
  transform: translateY(0px);
}

.submit-track:active{
  transform: translateY(0px);
}

@keyframes load {
  0% {
    opacity: 0%;
    display: none;
  }
  25% {
    opacity: 0%;
    display: none;
  }
  100% {
    opacity: 100%;
    display: block;
  }
}

@keyframes flipLeft {
  0% {
    transform: translate3d(270%,0px,0px) rotateY(180deg) ;
    opacity: 10%;
  }
  100% {
    transform: translateX();
    opacity: 100%;
  }
}

@keyframes flipRight {
  0% {
    transform: translate3d(-270%,0px,0px) rotateY(-180deg) ;
    opacity: 10%;
  }
  100% {
    transform: translateX();
    opacity: 100%;
  }
}

@keyframes disappear {
  0% {
    opacity: 100%;
  }
  80%{
    opacity: 20%;
  }
  100%{
    opacity: 0%;
  }
}

.left, .right, .left-back, .right-back, .left-next, .right-prev{
  backface-visibility: hidden;
  width: 50%;
  transform-style: preserve-3d;
  pointer-events: all;
}

.right, .right-back{
  right: 0%;
}

.left, .right{
  z-index: 2;
  min-height: 100%;
  padding-bottom: 35px;
}

.left-back, .right-back{
  position: absolute;
  z-index: 1;
  max-height: 100%;
}

.left-prev{
  animation: load 2.5s 0s 1;
}

.right-prev{
  animation: flipRight 2.5s 0s 1 forwards;
  min-height: 100%;
  z-index: 3;
}

.left-next{
  animation: flipLeft 2.5s 0s 1 forwards;
  min-height: 100%;
  z-index: 3;
}

.right-next{
  animation: load 2.5s 0s 1;
}

.tracklist::-webkit-scrollbar{
  display: none;
}

.trackselector{
  position: relative;
  background-color: #191414;
  border: 3px solid silver;
  min-height: 80%;
  max-height: 80%;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

.playlistinfo{
  padding-left: 5px;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.playlistmetas{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: medium;
}

.tracklist{
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 60%;
  text-align: left;
  overflow-y: auto;
}

.playlistcover{
  width: 40%;
  padding-top: 10px;
  padding-right: 35px;
}

.coinslotcontainer{
  position: absolute;
  bottom: 41%;
  right: 11%;
  overflow: hidden;
  width: 34%;
}

.coinslot-btn-back{
  background-color: rgb(36, 32, 32);
  position: absolute;
  border-radius: 50%;
  height: 21%;
  width: 7%;
  bottom: 4%;
  right: 9.25%;
  border: 0px solid rgb(36, 32, 32);
}

.coinslot-btn{
  background-color: #a38560;
  background-image: linear-gradient(315deg, #a38560 0%, #e0d4ae 74%);
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.coinslot-btn-back:active{
  border-width: 1px;
}

.coinslot-btn:active{
  background-color: #a38560;
  background-image: linear-gradient(315deg, #846c4e 0%, #b5ac8f 74%);
  height: 70%;
  width: 70%;
}

.spotify-logo-cont{
  position: absolute;
  width: 13%;
  bottom: 22.5%;
  right: 44.25%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
  